html{
	font-family: "Open Sans", sans-serif;
	font-size:16px;
	color: #01161E;
}
.main {
	font-family: "Open Sans", sans-serif;
	position:relative;    
	top: 4rem;
	color: #01161E;
}  
section:nth-child(2n+1) {
	background-color: #DCDCDC;
}
a {
	font-family: "Open Sans", sans-serif;
	text-decoration: none;
	padding-left: 16px;
	color: #01161E;
	font-size: 1.25rem;
}
h1{
	font-family: "Roboto", sans-serif;
	font-size: 3rem;
	font-weight: 900;
	line-height: 1.1;
} 
h2{
	font-family: "Roboto", sans-serif;
	font-size: 2.4rem;
	font-weight: bold;
	padding: 2rem 0;
}  
h3{
	font-family: "Roboto", sans-serif;
	font-size: 1.4rem;
	line-height: 1.2;
	font-weight: bold;
}
h5, footer span {
	font-size: 0.8rem;
	color: #01161E;
}
p {
	line-height: 1.35;
	padding: 0.5rem 0.5rem 0.5rem 0;
}
header{
	z-index:10;
	height:64px;
	width:100%;
	position:fixed;
	display:flex;
	align-items: center;
	justify-content: space-between;
	background-color:white;
}
header img {
	height: 3rem;
	padding: 0 2% 0 1.5rem;
}
.logo{
	display:flex;
	align-items:center;
	padding-left:24px;
}
.title-bar {
	color: #8A97A8;
}
.title-bar span {
	padding: 0;
	font-weight: bold;
	color: #01161E;
}
nav{
	display:flex;
	align-self:center;
	padding-right:3%;
}
.desktop-nav-bar{
	display:inline-block;
}
.mobile-nav-bar{
	display:none;
}
.side-text {
	display: inline-flex;
	flex-flow: column;
	justify-content: space-between;
	vertical-align: middle;
}
.landing-box .side-text {
    width: 30%;
    box-sizing: border-box;
}
.landing-box img {
	display: inline-block;
	vertical-align: middle;
	width: 60%;
	margin: 2rem 2.5rem 2rem 1.5rem;
	flex-shrink: 0;
} 
.landing-box p, .big-box p {
    margin-bottom: 1.5rem;
}
.start {
	width: 75%;
	background-color: #ADBED3;
	color: #01161E;
	font-size: 1.2rem;
	padding: 1rem 0;
	text-align: center;
	transition: background-color 700ms;
	font-weight: bold;
}  
.start:hover {
	background-color:	#6495ED;
	
}
.information .item:last-child, .thesis .item:first-child {
	background-color:#DCDCDC;
}
  
.multi-container {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
} 
.big-box {
	width: 60%;
	padding: 2rem 1.5rem;
}  
.big-box img, video {
	width: 100%;
	margin-bottom: 2rem;
}

.big-box h2 {
	padding: 0 0 1.5rem 0;
}
#mobile-pic{
	display:none;
}
.item-box {
	display: flex;
	flex-flow: column;
	vertical-align: top;
	margin-top: 1rem;
	width: 35%;
}
.item-box img {
	width: 35%;
	margin: 3.5%;
	vertical-align: middle;
	display: inline-block;
}
.item-box .side-text {
	width: 56%;
}  
.item-box a {
	color: 	#6495ED;
	padding: 0;
}  
.thesis .big-box {
	padding: 1rem 1rem 1.5rem 1.5rem;
}
.classes {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

.courses {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.course-item {
  width: 30%;
  height: auto;
  margin: 0 0.5rem 1rem 0.5rem;
  background-color: #ADBED3;
}

.classes h2, .thesis h2 {
  text-align: center;
}

.course-item img {
  width:100%;
}

.course-text {
  padding: 1rem 0 0 1rem;
  margin: 1.5rem auto;
}
footer {
	background-color: white;
	border-top: 1px solid #01161E;
	display: flex;
	justify-content: space-between;
	position:relative; 
	top: 4rem;
	width: 100%
}

footer h5 {
font-family: "Roboto", sans-serif;
display: inline-block;
padding: 1rem 1.5rem;
margin-bottom: 1.5rem;
}

footer nav {
align-self: auto;
padding-top: 1rem;
}

footer span {
padding-left: 1rem;
}

/* mobile */
@media only screen and (max-width: 470px)  {
	.desktop-nav-bar, .logo{
		display:none;
	}
	.mobile-nav-bar{
		display:flex;
		justify-content: space-around;
		width:100%;	
	}
	.main{
		top:2rem;
	}
	.landing-box img{
		width:100%;
		margin:0;
	}
	.landing-box .side-text{
		padding:16px 32px;
		width:100%;
	}
	.landing-box .side-text p{
		font-size: 1.5rem;
	}
	.landing-box .side-text h1{
		margin-top:32px;
		margin-bottom:32px;
	}
	.landing-box .side-text a{
		margin-top:24px;
		margin-bottom: 32px;
		width: 100%;
	}
	.start{
		margin:auto;
	}
	.information .big-box{
		display:none;
	}
	.information .item-box{
		width:100%;
	}
	.information .item{
		display: flex;
		flex-flow: column;
	}
	#mobile-pic{
		display:block;
		box-sizing: border-box;
		width:100%;
		padding:16px;
		margin: auto;
	}
	#pc-pic{
		display:none;
	}
	.information .side-text{
		padding-left:32px;
		margin-bottom:64px;
	}
	.information .item:last-child, .thesis .item:first-child {
		background-color:white;
	}
	.course-item img, .course-text p{
		display:none;
	}
	.classes h2{
		padding:2rem 0 1rem 0;
	}
	.course-item{
		width:100%;
	}
	.course-text{
		margin: 1rem 0 2rem 1rem;
	}
	.thesis .big-box h3, .thesis .big-box p, .thesis .item-box{
		display:none;
	}
	.thesis h2{
		padding:2rem 0 1rem 0;
	}
	.thesis .big-box{
		width:100%;
	}
	footer{
		top:1.5rem;
		padding:1rem 0;
	}
	footer nav{
		display: none;
	}
	footer h5{
		margin: auto;
	}
}










